.all-contant-margin{
    margin: 10px;
}


.text-comment{
    margin-bottom: 1px;
}

.list-margin{
    margin-top: 15px;
}

.entries-list h3{
    font-size: 20px;
    margin-top: 0px;
}


.entries-list p {
    font-size: 14px;
    margin-bottom: 0px;
}

.comment_lvl_1{
    font-size: 24px;
    margin-bottom: 0px;
}

.comment_lvl_2{
    font-size: 20px;
    margin-bottom: 0px;
}


.comment_lvl_3{
    font-size: 20px;
    margin-bottom: 0px;
}

.button-size{
    font-size: 12px;
}

.label-size{
    font-size: 12px;
}

.delete-button{
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.list-style{
    list-style: none;
}

.comment_1{
    margin-left: 0px;
}


.comment_2{
    margin-left: 25px;
}

.comment_3{
    margin-left: 45px;
}


.main-div{
    display: flex;
}

.author{
    margin-left: 30px;
}

.not-seen{
    display: none;
}

.seen{
    display: block;
}

.entries-index{
    margin-left: 600px;
    margin-right: 600px;
}

.entries-index li{
    text-align: center;
    font-size: 20px;
}