{% block content %}
<div id="{{ comment_lvl_1.id }}" class="not-seen">{# comment_lvl_2#}
  <form name="answer_comment_form" action="{% url 'social_networks:answer_on_comment' entry.id comment_lvl_1.id comment_lvl_1.id %}" method="POST">
    {% csrf_token %}
    {% for field in answer_comment_form %}
      <p>
        <span class="label-size">{{ field.label_tag }}</span><br>
        {{ field }}
      </p>
    {% endfor %}
    <button class="button-size" name="submit">Answer</button>
  </form>
</div>
{% endblock content %}