{% extends 'social_networks/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            
        </header>
        <main>
            {% block content %}
                <p>Topic - {{ topic.name }}</p>
                <div>
                    <a href="{% url 'social_networks:create_entry' topic.id %}">Create entry</a>
                </div>
                <p>Entries:</p>
                <ul class="list-group">
                    {% for entry in entries %}
                    <li class="list-group-item list-margin entries-list list-item-background">
                        <h3>
                            <a href="{% url 'social_networks:entry_page' topic.id entry.id %}">{{ entry.title }}</a>
                        </h3>
                        <p>{{ entry.text }}</p>
                    </li>
                    {% endfor %}
                </ul>



            {% endblock content %}
        </main>
        <footer>
            
        </footer>
    </body>
</html>