{% extends 'social_networks/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
        </header>
        <main>
            {% block content %}

                <a href="{% url 'social_networks:entries' topic_id %}">Назад</a>
                
                <div class="main-div">
                  <div>
                    <h2>{{ entry.title }}</h2>
                  </div>
                  <div class="author">
                    <p>Author: <span>{{ entry.author }}</span></p>
                  </div>
                </div>
                <p>{{ entry.text }}</p>
                <div>
                  <p id="amount_likes">{{ entry.likes }}</p>
                  <button id="add_like">like</button>
                </div>
                <div>
                  <ul class="list-group main-comments">
                    {% for comment_lvl_1 in comments %}
                      <li class="list-group-item comment_1 list-margin">
                        <div>
                          <div class="main-div">
                            <div>
                              <p class="comment_lvl_1"><span class="badge rounded-pill bg-primary">{{ comment_lvl_1.comment_text }}</span></p>
                            </div>
                            
                            <div class="author">
                              <p>Author: <span>{{ comment_lvl_1.comment_author }}</span><p>
                            </div>
                          </div>
                          <div class="main-div">
                            <div>
                              <form class="delete-button" action="{% url 'social_networks:delete_comment' entry.id comment_lvl_1.id %}">
                                  <button class="btn btn-link btn-sm" name="submit">delete</button>
                              </form>
                            </div>
                            <div>
                                <button onclick="changeDisplay('{{ comment_lvl_1.id }}')" class="btn btn-link btn-sm answer-button">answer</button>
                            </div>
                          </div>

                          <div id="{{ comment_lvl_1.id }}" class="not-seen">{# comment_lvl_2#}
                            <form name="answer_comment_form" action="{% url 'social_networks:answer_on_comment' entry.id comment_lvl_1.id comment_lvl_1.id %}" method="POST">
                              {% csrf_token %}
                              {% for field in answer_comment_form %}
                                <p>
                                  <span class="label-size">{{ field.label_tag }}</span><br>
                                  {{ field }}
                                </p>
                              {% endfor %}
                              <button class="button-size" name="submit">Answer</button>
                            </form>
                          </div>
                        </div>

                        <ul class="list-group">
                          {% for comment_lvl_2 in comment_lvl_1.answers %}
                            <li class="list-group-item comment_2 list-margin">
                              <div>
                                <div class="main-div">
                                    <div class="field-1">
                                      <p class="comment_lvl_2"><span class="badge rounded-pill bg-info text-dark">{{ comment_lvl_2.comment_text }}</span></p>
                                    </div>
                                    
                                    <div class="author">
                                      <p>Author: <span>{{ comment_lvl_2.comment_author }}</span></p>
                                    </div>
                                </div>
                                <div class="main-div">
                                  <div class="delete-button">
                                    <form name="delete_comment_answer" action="{% url 'social_networks:delete_comment_answer' entry.id comment_lvl_1.id comment_lvl_2.id %}" method="post">
                                      {% csrf_token %}
                                      <button class="btn btn-link btn-sm" name="submit">delete</button>
                                    </form>
                                  </div>
                                  <div>
                                      <button onclick="changeDisplay('{{ comment_lvl_2.id }}')" class="btn btn-link btn-sm">answer</button>
                                  </div>
                                </div>
                                {# answer #}
                                <div id="{{ comment_lvl_2.id }}" class="not-seen">
                                  <form name="answer_comment_form_lvl_2" action="{% url 'social_networks:answer_on_comment' entry.id comment_lvl_1.id comment_lvl_2.id %}" method="POST">
                                    {% csrf_token %}
                                    {% for field in answer_comment_form %}
                                      <p>
                                        <span class="label-size">{{ field.label_tag }}</span><br>
                                        {{ field }}
                                      </p>
                                    {% endfor %}
                                    <button class="button-size" name="submit">Answer</button>
                                  </form>
                                </div>
                              </div>

                                {# comments #}
                                {% for comment_lvl_3 in comment_lvl_2.answers %}
                                  <ul class="list-group">
                                    <li class="list-group-item comment_3 list-margin">
                                      <div>
                                        <div class="main-div">
                                          <tr>
                                            <div class="field-1">
                                              <p class="comment_lvl_3"><span class="badge rounded-pill bg-warning text-dark">{{ comment_lvl_3.comment_text }}</span></p>
                                            </div>
                                            <div class="author">
                                              <p>Author: <span>{{ comment_lvl_3.comment_author }}</span></p>
                                            </div>
                                        </div>
                                        <div class="delete-button">
                                          <form name="delete_comment_lvl_3" action="{% url 'social_networks:delete_comment_answer' entry.id comment_lvl_1.id comment_lvl_3.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-link btn-sm" name="submit">delete</button>
                                          </form>
                                        </div>
                                      </div>
                                    </li>
                                    
                                  </ul>

                                {% endfor %}
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                {# Add comment lvl_1 #}

                
                <div id="div-comment_form_main">
                  <form id="comment_form_main" name="comment_form" action="{% url 'social_networks:create_comment' topic_id entry.id %}" method="POST">
                    {% csrf_token %}
                    {% for field in comment_form %}
                      <p>
                        <span class="label-size">{{ field.label_tag}}</span><br>
                        {{ field }}
                      </p>
                    {% endfor%}
                    <button id="main-button" class="button-size" name="submit">Send</button>
                  </form>
                </div>
                


{% comment %}
                <div>
                  <form id="comment_form_test" name="comment_form_test">
                    {% csrf_token %}
                    {% for field in comment_form %}
                      <p>
                        <span class="label-size">{{ field.label_tag}}</span><br>
                        {{ field }}
                      </p>
                    {% endfor%}
                    <button id="test-button" class="button-size" name="submit">Send</button>
                  </form>
                </div>
{% endcomment %}

                {% if is_author %}
                <a href="{% url 'social_networks:edit_entry' entry.id %}">Edit entry</a> - 
                <a href="{% url 'social_networks:delete_entry' entry.id %}">Delete entry</a>
                {% endif %}
            {% endblock content %}
        </main>

        <footer>
        </footer>

        {% block scripts %}
        <script>
            $("#main-button").on('click', function(){
                
                $.ajax({
                    method: "POST",
                    dataType: "json",
                    data: $("#comment_form_main").serialize(),
                    url: '{% url "social_networks:create_comment" topic_id entry.id %}',
                    success: function(data){

                        console.log(data)

                        let result = data["comment"]

                        let comment_author = result["comment_author"]
                        let comment_text = result["comment_text"]
                        let comment_id = result["_id"]["$oid"] // by default {"_id": {"$oid": "abc123"}}
                        let entry_id = result["entry_id"]
                        
                        $(".main-comments").append(
                        '<li class="list-group-item comment_1 list-margin">' +
                          '<div class="class-for-add-dynamic-form">' +
                            '<div>' +
                              '<div class="main-div">' +
                                '<div>' +
                                  '<p class="comment_lvl_1"><span class="badge rounded-pill bg-primary">' + comment_text + '</span></p>' +
                                '</div>' +                            
                                '<div class="author">' +
                                  '<p>Author: <span>' + comment_author + '</span><p>' +
                                '</div>' + 
                              '</div>' +
                            '</div>'+
                            '<div class="main-div">'+
                              '<div>' +
                                '<form class="delete-button" action="' + '/delete/comment/xxx' + entry_id + 'xxx/xxx' + comment_id + '">' +
                                    '<button class="btn btn-link btn-sm" name="submit">delete</button>' +
                                '</form>' +
                              '</div>' +
                              '<div>' +
                                  '<button onclick="changeDisplay('+ comment_id + ')" class="btn btn-link btn-sm answer-button">answer</button>' +
                              '</div>' +
                            '</div>'+
                          '</div>' +
                        '</li>')



                    }

                })
                $("#id_comment").val("")
                return false
            })


            $("#add_like").on('click', function(){
              $.ajax({
                method: "POST",
                url: '{% url "social_networks:add_like" entry.id %}',
                success: function(data){
                  let amount_likes = data["amount_likes"]
                  document.getElementById("amount_likes").innerHTML = amount_likes
                }
              })
            })

            
        </script>
        {% endblock scripts %}

    </body>
</html>