{% extends 'social_networks/base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
        </header>
        <main>
            {% block content %}

                <a href="{% url 'social_networks:entries' topic_id %}">Назад</a>
                
                <div>
                  <h2>{{ entry.title }}</h2>
                  <p>{{ entry.text }}</p>
                </div>  
                <div>
                  <ul>
                    {% for comment_lvl_1 in comments %}
                      <li class="list-style comment_1">
                        <div>
                          <table class="table">
                            <tr>
                              <td class="field-1">
                                <p class="comment_lvl_1"><span class="badge rounded-pill bg-primary">{{ comment_lvl_1.comment_text }}</span></p>
                              </td>
                              <td class="field-2">
                                <form class="delete-button" action="{% url 'social_networks:delete_comment' entry.id comment_lvl_1.id %}">
                                    <button class="btn btn-link btn-sm" name="submit">delete</button>
                                </form>
                              </td>
                              <td class="field-3">
                                <p>Author: <span>{{ comment_lvl_1.comment_author }}</span><p>
                              </td>
                            </tr>
                          </table>
                        </div>

                        <ol>
                          {% for comment_lvl_2 in comment_lvl_1.answers %}
                            <li class="list-style comment_2">
                              <div>
                                <table class="table">
                                  <tr>
                                    <td class="field-1">
                                      <p class="comment_lvl_2"><span class="badge rounded-pill bg-info text-dark">{{ comment_lvl_2.comment_text }}</span></p>
                                    </td>
                                    <td class="field-2">
                                      <form name="delete_comment_answer" action="{% url 'social_networks:delete_comment_answer' entry.id comment_lvl_1.id comment_lvl_2.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn btn-link btn-sm" name="submit">delete</button>
                                      </form>
                                    </td>
                                    <td class="field-3">
                                      <p>Author: <span>{{ comment_lvl_2.comment_author }}</span></p>
                                    </td>
                                  </tr>
                                </table>
                              </div>

                                {# comments #}
                                {% for comment_lvl_3 in comment_lvl_2.answers %}
                                  <ul>
                                    <li class="list-style comment_3">
                                      <div>
                                        <table class="table">
                                          <tr>
                                            <td class="field-1">
                                              <p class="comment_lvl_3"><span class="badge rounded-pill bg-warning text-dark">{{ comment_lvl_3.comment_text }}</span></p>
                                            </td>
                                            <td class="field-2">
                                              <form name="delete_comment_lvl_3" action="{% url 'social_networks:delete_comment_answer' entry.id comment_lvl_1.id comment_lvl_3.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-link btn-sm" name="submit">delete</button>
                                              </form>
                                            </td>
                                            <td class="field-3">
                                              <p>Author: <span>{{ comment_lvl_3.comment_author }}</span></p>
                                            </td>
                                            </table>
                                          </tr>
                                      </div>
                                    </li>
                                    
                                  </ul>

                                {% endfor %}



                                {# answer #}
                                <div>
                                  <form name="answer_comment_form_lvl_2" action="{% url 'social_networks:answer_on_comment' entry.id comment_lvl_1.id comment_lvl_2.id %}" method="POST">
                                    {% csrf_token %}
                                    {% for field in answer_comment_form %}
                                      <p>
                                        <span class="label-size">{{ field.label_tag }}</span><br>
                                        {{ field }}
                                      </p>
                                    {% endfor %}
                                    <button class="button-size" name="submit">Answer</button>
                                  </form>
                                </div>

                            </li>
                          {% endfor %}
                        </ol>

                        <div>{# comment_lvl_2#}
                          <form name="answer_comment_form" action="{% url 'social_networks:answer_on_comment' entry.id comment_lvl_1.id comment_lvl_1.id %}" method="POST">
                            {% csrf_token %}
                            {% for field in answer_comment_form %}
                              <p>
                                <span class="label-size">{{ field.label_tag }}</span><br>
                                {{ field }}
                              </p>
                            {% endfor %}
                            <button class="button-size" name="submit">Answer</button>
                          </form>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                {# Add comment lvl_1 #}
                <div>
                  <form name="comment_form" action="{% url 'social_networks:create_comment' topic_id entry.id %}" method="POST">
                    {% csrf_token %}
                    {% for field in comment_form %}
                      <p>
                        <span class="label-size">{{ field.label_tag}}</span><br>
                        {{ field }}
                      </p>
                    {% endfor%}
                    <button class="button-size" name="submit">Send</button>
                  </form>
                </div>

                <a href="{% url 'social_networks:edit_entry' entry.id %}">Edit entry</a> - 
                <a href="{% url 'social_networks:delete_entry' entry.id %}">Delete entry</a>


            {% endblock content %}
        </main>

        <footer>
            
        </footer>
    </body>
</html>