{% extends 'social_networks/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <title></title>
    </head>
    <body>
        <header>
        </header>
        <main>
            {% block content %}

                <a href="{% url 'social_networks:entries' topic_id %}">Назад</a> - 
                <a href="{% url 'social_networks:edit_entry' entry.id %}">Edit entry</a> - 
                <a href="{% url 'social_networks:delete_entry' entry.id %}">Delete entry</a>
                
                <div>
                  <h2>{{ entry.title }}</h2>
                  <p>{{ entry.text }}</p>
                </div>  
                <div>
                  <ul>
                    {% for comment in comments %}
                      <li>
                        <div class="main-comment">
                          <p>{{ comment.comment_text }}</p>
                          <form action="{% url 'social_networks:delete_comment' entry.id comment.comment_id %}">
                              <button name="submit">delet</button>
                          </form>
                        </div>
                        <ol>
                          {% for answer in comment.answers %}
                            <li>
                              <div class="answer_on_comment">
                                <p>{{ answer.answer_text }}</p>  
                              </div>
                            </li>
                          {% endfor %}
                        </ol>

                        <div>
                          <form name="answer_comment_form" action="{% url 'social_networks:answer_on_comment' entry.id comment.comment_id %}" method="POST">
                            {% csrf_token %}
                            {{ answer_comment_form.as_p }}
                            <button name="submit">Answer</button>
                          </form>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                <div>
                  <form name="comment_form" action="{% url 'social_networks:entry_page' topic_id entry.id %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button name="submit">Send</button>
                  </form>
                </div>


            {% endblock content %}
        </main>
        <footer>
            
        </footer>
    </body>
</html>