{% extends 'social_networks/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            
        </header>
        <main>
            {% block content %}
                <div class="entries-index">
                <ul class="list-group">
                    {% for entry in entries %}
                        <li class="list-group-item list-margin">
                            <a href="{% url 'social_networks:entry_page' entry.topic.id entry.id %}">{{ entry.title }}</a>
                        </li>
                    {% endfor %}    
                </ul>
                </div>

            {% endblock content %}
        </main>
        <footer>
            
        </footer> 
    </body>
</html>