{% extends 'social_networks/base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <header>
            
        </header>
        <main>
            {% block content %}
            <p>Topics:</p>
                <ul class="list-group">
                    {% for topic in topics %}
                        <li class="list-group-item list-margin list-item-background">
                            <a href="{% url 'social_networks:entries_list' topic.id %}">{{ topic.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                
            {% endblock content %}
        </main>
        <footer>
            
        </footer>
    </body>
</html>